[submodule "extension"]
	path = extension
	url = https://github.com/uxsad/browser-extension.git
[submodule "server"]
	path = server
	url = https://github.com/uxsad/server
[submodule "emotions"]
	path = emotions
	url = https://github.com/uxsad/emotion-analysis
[submodule "icon"]
	path = icon
	url = https://github.com/uxsad/graphics
