<!-- TODO: Add link to extension -->
<p>
	Hi.<br />
	Thank you for taking part to our research.
</p>

<h2>Downloads</h2>

<div class="row">
	<div class="col text-center">
		<a href="http://giuseppe-desolda.ddns.net:8080/downloads/chrome.crx" download="esposito-extension.crx">
			<img src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_340x96.png" alt="Chrome extension">
		</a>
	</div>
	<div class="col text-center">
		<a href="http://giuseppe-desolda.ddns.net:8080/downloads/firefox.xpi" download="esposito-extension.xpi">
			<img src="https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/addons/files/2015/11/get-the-addon.png" alt="Chrome extension">
		</a>
	</div>
</div>
