<header class="text-center mb-4">
	<img src="https://www.unidformazione.com/wp-content/uploads/2017/05/logo-uniba.JPG-2.png"
		alt="Logo Università degli Studi di Bari" style="width: 240px;" class="img-responsive mb-3" />
	<h1 class="thesis-title border-bottom p-2 mb-3">Rilevazione automatica di usability smell mediante analisi dei log di interazione ​</h1>
	<p class="h5 mb-4">Laurea Triennale in &ldquo;Informatica e Comunicazione Digitale&rdquo;</p>
	<div class="authors row px-0 mx-0 px-md-5 mx-md-5" itemprop="author">
		<div class="col author" itemscope="" itemtype="https://schema.org/Person">
			<div>
				<span itemprop="givenName">Andrea</span> <span itemprop="familyName">Esposito</span>
				(<span itemprop="identifier">677021</span>)
			</div>
			<small>Autore</small>
			<div><a href="mailto:a.esposito39@studenti.uniba.it"
					itemprop="email">a.esposito39@studenti.uniba.it</a></div>
		</div>
		<div class="col author" itemscope="" itemtype="https://schema.org/Person">
			<div>
				<span itemprop="honorificPrefix">Prof.</span>
				<span itemprop="givenName">Giuseppe</span> <span itemprop="familyName">Desolda</span>
			</div>
			<small>Relatore</small>
			<div><a href="mailto:giuseppe.desolda@uniba.it" itemprop="email">giuseppe.desolda@uniba.it</a></div>
		</div>
	</div>
	<hr>
</header>

<p>
	Hi.<br />
	Thank you for taking part to our research.
</p>

<h2>Downloads</h2>

<div class="row">
	<div class="col text-center">
		<a href="https://giuseppe-desolda.ddns.net:8080/downloads/chrome.crx" download="esposito-extension.crx">
			<img src="https://developer.chrome.com/webstore/images/ChromeWebStore_Badge_v2_340x96.png" alt="Chrome extension">
		</a>
	</div>
	<div class="col text-center">
		<a href="https://giuseppe-desolda.ddns.net:8080/downloads/firefox.xpi" download="esposito-extension.xpi">
			<img src="https://ffp4g1ylyit3jdyti1hqcvtb-wpengine.netdna-ssl.com/addons/files/2015/11/get-the-addon.png" alt="Chrome extension">
		</a>
	</div>
</div>
