$primary: #003c71;

@import "~bootstrap/scss/bootstrap.scss";

#sections-container .tab {
    display: none;
}

.webcam-highlight-center {
    position: relative;
}
div#webcam-video-container::after {
    content: "";
    background: url('/assets/images/video-mask.svg');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.6;
}
